@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
====================================
    GLOBAL
====================================
*/

/* === color Palette === */
:root {
    --primary-color: #293783;
    --accent-color: #F79422;
    --text-color: black;
    --subtitle-color: #757575;
    --divider-color: #DDDDDD;
    --card-border-color: #9B9B9B;
    --success-color: #28a745;
    --error-color: #dc3545;
    --transition-time: 300ms;
    --free-space-size: calc(100vh - calc(300px));
}

html {
    font-size: 62.5%;
}

body, html {
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Roboto', sans-serif;
}

input, textarea, *:focus {
    outline: none;
}

ul {
  list-style: none;
}

/* === Headers === */
h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

h2 {
    font-size: 2.8rem;
    font-weight: 500;
}

h3 {
    font-size: 2.4rem;
    font-weight: 500;
}

h4 {
    font-size: 2rem;
    font-weight: 500;
}

h5 {
    font-size: 1.8rem;
    font-weight: 500;
}

/* === Paragraph === */
p {
    font-size: 1.8rem;
    font-weight: 400;
}

.p-xlarge {
    font-size: 2.4rem;
    font-weight: 400;
}

.p-large {
    font-size: 2.2rem;
    font-weight: 400;
}

/* === label === */
label {
    font-size: 2.2rem;
    font-weight: 300;
}

/* === Input === */
input {
    font-size: 2.2rem;
    font-weight: 400;
    padding: 1rem;
    border: none;
    color: black;
    background-color: #F3F3F4;
    border-radius: 10px;

}

::placeholder { 
    color: #808080;
    opacity: 1;
}

::-ms-input-placeholder { /* microsoft Edge */
    color: #808080;
}

/* === anchor === */
a:not(.btn),
a:not(.btn):hover,
a:not(.btn):focus,
a:not(.btn):active {
    text-decoration: none;
    color: var(--text-color);
}

/*
====================================
    Utilities
====================================
*/

.container {
    margin: 0 auto;
    max-width: 1100px;
}

.hidden {
    visibility: hidden;
}

/* === Buttons === */
.btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem 4rem;
    font-size: 2.6rem;
    font-weight: 700;
    border-radius: 7px;
    color: white;
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    transition: var(--transition-time);
}

.btn:hover {
    filter: brightness(0.80);
}

.btn-small {
    font-size: 2rem;
}

.btn-danger {
    background-color: var(--error-color);
}

.clickable {
    transition: var(--transition-time);
}

.clickable:hover {
    filter: brightness(0.80);
}

.divider {
    display: block;
    height: 1px;
    background-color: var(--divider-color);
}

.card {
    padding: 1rem;
    border: solid 1px var(--card-border-color);
}

.card-thick {
    padding: 1rem;
    border: solid 3px var(--card-border-color);
}

.card-light-color {
    border-color: var(--divider-color);
}

/* === message === */
.message {
    font-size: 2.2rem;
    font-weight: 500;
    width: 100%;
    border-radius: 5px;
}

.message.success-message {
    color: var(--success-color);
}

.message.error-message {
    color: var(--error-color);
}

/* === loading view === */
.loading-view {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 300ms;
    transition: var(--transition-time);
    display: none;
}

.loading-view lottie-player {
    width: 300px;
    height: 300px;
}

/* === vertical product view grid === */
.vertical-product-view-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px 25px;
}

/* === drop down link === */
.drop-down-link {
    height: 100%;
    position: relative;
}

.drop-down-link a {
    margin: 0 !important;
}

.drop-down-link:hover > .drop-down-items {
    display: block;
}

.drop-down-items::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: white;
    top: -6px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.drop-down-items {
    position: absolute;
    width: 270px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
    list-style: none;
    border-radius: 8px;
    display: none;
    animation: account-menu-animation 300ms;
}

.drop-down-items li {
    transition: var(--transition-time);
}

.drop-down-items li > * {
    display: block;
    cursor: pointer;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    transition: var(--transition-time);
}

.drop-down-items li:hover {
    background-color: rgba(13, 12, 34, 0.03);
}

.drop-down-items li:hover > * {
    color: var(--accent-color);
}

/*
====================================
    Animations
====================================
*/

@keyframes account-menu-animation {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes mobile-nav-animation {
    0% {
        transform-origin: top;
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        transform-origin: top;
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
====================================
    Header
====================================
*/

header {
    margin-bottom: 4rem;
}

/* === top header === */
header .topHeader {
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .topHeader a {
    display: inline-block;
    transition: var(--transition-time);
}

header .topHeader a:hover {
    color: var(--accent-color);
}

header .topHeader a:first-child {
    margin-right: 2rem;
}

/* === main nav === */

/* === logo === */
header .main-header a {
    height: 100%;
}

header .main-header img {
    position: relative;
    height: 100%;
}

header .main-header {
    position: relative;
    height: 80px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* === Input with icon === */
header .input-with-icon {
    width: 100%;
    margin: 0 2rem;
    max-width: 500px;
}

header .input-with-icon {
    display: flex;
    justify-content: center;
}

header .input-with-icon input {
    width: 90%;
    border-radius: 10px 0 0 10px;
}

header .input-with-icon .icon {
    cursor: pointer;
    width: 10%;
    background-color: var(--primary-color);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
}

.input-with-icon .icon i {
    color: white;
    font-size: 2rem;
}

/* === Actions === */
nav {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* to center the icon vertically */
nav .action-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .action-link i {
    color: var(--primary-color);
    font-size: 3.2rem;
    cursor: pointer;
}

nav .action-link:first-child {
    margin-right: 4rem;
}

/* === mobile nav === */
header #mobile-search {
    max-width: 9999px;
    margin: 0;
    padding: 1rem;
}

#mobile-search input {
    background-color: white;
}

.mobile-nav {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 999;
    padding: 1rem;
    background-color: var(--divider-color);
    text-align: center;
    transition: var(--transition-time);
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
}

.mobile-nav.active {
    transform: scaleY(1);
    opacity: 1;
}

.mobile-nav a {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
    transition: var(--transition-time);
}

.mobile-nav a:active,
.mobile-nav a:hover {
    background-color: var(--primary-color);
    color: white;
}


/*
====================================
    Footer
====================================
*/

footer {
    margin-top: 4rem;
    height: 80px;
    width: 100%;
}

footer div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
====================================
    Vertical Product View
====================================
*/

.vertical-product-view {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition-time);
}

.vertical-product-view:hover {
    border-color: var(--accent-color);
    transform: scale(1.03);
}

.vertical-product-view p {
    margin: 1.5rem 0;
}

.vertical-product-view img {
    max-height: 150px;
    max-width: 100%;
}

/*
====================================
    Horizontal Product View
====================================
*/

.horizontal-product-view {
    padding: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

/* === horizontal product image === */
.horizontal-product-image {
    flex: 3;
    max-width: 200px;
}

.horizontal-product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* === horizontal product info === */
.horizontal-product-info {
    flex: 8;
    margin-left: 1rem;
}

.horizontal-product-price {
    font-size: 2.8rem;
    font-weight: 500;
    margin: 2rem 0;
}


/*
====================================
    Responsive
====================================
*/

@media (max-width: 1140px) {
    .container {
        margin: 0 2rem;
    }
}



/* === Mobile Devices === */
@media(max-width: 480px) {
    /* === Header === */
    header {
        margin-bottom: 2rem;
    }

    header .topHeader,
    header .topHeader + .divider,
    header #desktop-search,
    header #cart-link,
    header #account-link
     {
        display: none;
    }

    header .main-header {
        height: 60px;
    }

    header .main-header a:first-child {
        margin-right: 0;
    }

    /* === Headers === */
    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 2.0rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    h5 {
        font-size: 1.4rem;
    }

    /* === Paragraph === */
    p {
        font-size: 1.4rem;
    }

    .p-xlarge {
        font-size: 2.0rem;
    }

    .p-large {
        font-size: 1.8rem;
    }

    /* === label === */
    label {
        font-size: 1.8rem;
    }

    /* === Input === */
    input {
        font-size: 1.8rem;
    }


    /* === Utilities === */
    .btn {
        font-size: 2.2rem;
    }

    .btn-small {
        font-size: 1.6rem;
    }

    .message {
        font-size: 1.8rem;
    }

    .vertical-product-view-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    /* === Loading View === */
    .loading-view lottie-player {
        width: 200px;
        height: 200px;
    }
}



/* === iPads and tablets === */
@media(min-width: 481px) and (max-width: 768px) {
    /* === Header === */
    header {
        margin-bottom: 2rem;
    }

    header .topHeader,
    header .topHeader + .divider,
    header #desktop-search,
    header #cart-link,
    header #account-link
     {
        display: none;
    }

    header .main-header {
        height: 60px;
    }

    header .main-header a:first-child {
        margin-right: 0;
    }

    /* === Headers === */
    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 2.0rem;
    }

    h4 {
        font-size: 1.6rem;
    }

    h5 {
        font-size: 1.4rem;
    }

    /* === Paragraph === */
    p {
        font-size: 1.4rem;
    }

    .p-xlarge {
        font-size: 2.0rem;
    }

    .p-large {
        font-size: 1.8rem;
    }

    /* === label === */
    label {
        font-size: 1.8rem;
    }

    /* === Input === */
    input {
        font-size: 1.8rem;
    }


    /* === Utilities === */
    .btn {
        font-size: 2.2rem;
    }

    .btn-small {
        font-size: 1.6rem;
    }

    .message {
        font-size: 1.8rem;
    }

    .vertical-product-view-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}



/* === Small screens, laptops === */
@media(min-width: 769px) and (max-width: 1024px) {
    /* === Header === */
    header #mobile-menu-btn {
        display: none;
    }
    
    /* === Headers === */
    h1 {
        font-size: 3.4rem;
    }

    h2 {
        font-size: 2.6rem;
    }

    h3 {
        font-size: 2.2rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 1.6rem;
    }

    /* === Paragraph === */
    p {
        font-size: 1.6rem;
    }

    .p-xlarge {
        font-size: 2.2rem;
    }

    .p-large {
        font-size: 2.0rem;
    }

    /* === label === */
    label {
        font-size: 2.0rem;
    }

    /* === Input === */
    input {
        font-size: 2.0rem;
    }


    /* === Utilities === */
    .btn {
        font-size: 2.4rem;
    }

    .btn-small {
        font-size: 1.8rem;
    }

    .message {
        font-size: 2.0rem;
    }

    .vertical-product-view-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}



/* === Desktops, large screens === */
@media(min-width: 1025px) and (max-width: 1200px) {
    /* === Header === */
    header #mobile-menu-btn {
        display: none;
    }
}



/* === Extra large screens, TV === */
@media(min-width: 1201px) {
    /* === Header === */
    header #mobile-menu-btn {
        display: none;
    }
}
