@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
====================================
    GLOBAL
====================================
*/

/* === color Palette === */
:root {
    --primary-color: #293783;
    --accent-color: #F79422;
    --text-color: black;
    --divider-color: #DDDDDD;
    --card-border-color: #9B9B9B;
}

html {
    font-size: 62.5%;
}

body, html {
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: 'Roboto', sans-serif;
}

input, textarea, *:focus {
    outline: none;
}

/* === Headers === */
h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

h2 {
    font-size: 2.8rem;
    font-weight: 500;
}

h3 {
    font-size: 2.4rem;
    font-weight: 500;
}

h4 {
    font-size: 2rem;
    font-weight: 500;
}

h5 {
    font-size: 1.8rem;
    font-weight: 500;
}

/* === Paragraph === */
p {
    font-size: 1.8rem;
    font-weight: 400;
}

.p-xlarge {
    font-size: 24;
    font-weight: 400;
}

.p-large {
    font-size: 22;
    font-weight: 400;
}

/* === label === */
label {
    font-size: 2.2rem;
    font-weight: 300;
}

/* === Input === */
input {
    font-size: 2.2rem;
    font-weight: 400;
    padding: 1rem;
    border: none;
    color: black;
    background-color: #F3F3F4;
    border-radius: 10px;

}

::placeholder { 
    color: #808080;
    opacity: 1;
}

::-ms-input-placeholder { /* microsoft Edge */
    color: #808080;
}

/* === anchor === */
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: var(--text-color);
}

/*
====================================
    Utilities
====================================
*/

.container {
    margin: 0 auto;
    max-width: 1100px;
}

.divider {
    display: block;
    height: 1px;
    background-color: var(--divider-color);
}

.card {
    padding: 1rem;
    border: solid 1px #9B9B9B;
}

.card-thick {
    padding: 1rem;
    border: solid 3px #9B9B9B;
}

/* === loading view === */
.loading-view {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 300ms;
    transition: 300ms;
    display: none;
}

.loading-view lottie-player {
    width: 200px;
    height: 200px;
}

/* === vertical product view grid === */
.vertical-product-view-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px 25px;
}

/* === drop down link === */
.drop-down-link {
    height: 100%;
    position: relative;
}

.drop-down-link a {
    margin: 0 !important;
}

.drop-down-link:hover > .drop-down-items {
    display: block;
}

.drop-down-items::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: white;
    top: -6px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.drop-down-items {
    position: absolute;
    width: 270px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
    list-style: none;
    border-radius: 8px;
    display: none;
    animation: fadeInFromTop 300ms;
}

.drop-down-items li {
    transition: 300ms;
}

.drop-down-items li a {
    display: block;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    transition: 300ms;
}

.drop-down-items li:hover {
    background-color: rgba(13, 12, 34, 0.03);
}

.drop-down-items li:hover > a {
    color: var(--accent-color);
}

/*
====================================
    Animations
====================================
*/

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
====================================
    Header
====================================
*/

header {
    margin-bottom: 4rem;
}

/* === top header === */
header .topHeader {
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .topHeader a {
    display: inline-block;
    transition: 300ms;
}

header .topHeader a:hover {
    color: var(--accent-color);
}

header .topHeader a:first-child {
    margin-right: 2rem;
}

/* === main nav === */

/* === logo === */
header .main-header a {
    height: 100%;
}

header .main-header img {
    position: relative;
    height: 100%;
}

header .main-header {
    height: 80px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* === Input with icon === */
header .input-with-icon {
    width: 100%;
    margin: 0 1rem;
    max-width: 500px;
}

header .input-with-icon {
    display: flex;
    justify-content: center;
}

header .input-with-icon input {
    width: 90%;
    border-radius: 10px 0 0 10px;
}

header .input-with-icon .icon {
    cursor: pointer;
    width: 10%;
    background-color: var(--primary-color);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
    transition: 300ms;
}

header .input-with-icon .icon:hover {
    filter: brightness(1.5);
}

.input-with-icon .icon i {
    color: white;
    font-size: 2rem;
}

/* === Actions === */
nav {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* to center the icon vertically */
nav .action-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .action-link i {
    color: var(--primary-color);
    font-size: 3.2rem;
    cursor: pointer;
    transition: 300ms;
}

nav .action-link i:hover {
    filter: brightness(1.5);
}

nav .action-link:first-child {
    margin-right: 4rem;
}

/*
====================================
    Footer
====================================
*/

footer {
    margin-top: 4rem;
    height: 80px;
    width: 100%;
}

footer div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
====================================
    Vertical Product View
====================================
*/

.vertical-product-view {
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: 300ms;
}

.vertical-product-view:hover {
    border-color: var(--accent-color);
    transform: scale(1.03);
}

.vertical-product-view p {
    margin: 1.5rem 0;
}

.vertical-product-view img {
    max-height: 150px;
}

