main h1 {
    margin-bottom: 2rem;
}

#flex-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

#cart-products-section {
    flex: 5.3;
}

#order-info-section {
    flex: 3;
}

/*
====================================
    cart-products-section
====================================
*/

/* === cart product actions === */
.cart-product-actions {
    display: flex;
    justify-content: space-between;
}

.cart-product-quantity-actions {
    display: flex;
    align-items: center;
    justify-content: start;
}

.cart-product-product-quantity {
    margin: 0 2rem;
}

.cart-product-quantity-action,
.cart-product-remove-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-product-quantity-action {
    height: 35px;
    width: 35px;
    background-color: var(--divider-color);
    border-radius: 50%;
}

.cart-product-quantity-action::after,
.cart-product-remove-btn::after {
    position: relative;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.6rem;
}

.quantity-action-inc::after {
    content: '\f067';
}

.quantity-action-dec::after {
    content: '\f068';
}

.cart-product-remove-btn {
    height: 40px;
    width: 90px;
    background-color: var(--error-color);
    border-radius: 7px;
}

.cart-product-remove-btn::after {
    content: '\f1f8';
    color: white;
    font-size: 2.4rem;
}


/*
====================================
    order info section
====================================
*/
main {
    min-height: var(--free-space-size);
}

/* === order info card === */
#order-info-card {
    margin-left: 4rem;
    padding: 2rem 1.5rem;
}

#order-info-card h3 {
    margin-bottom: 1.5rem;
}

/* === order info row === */
.order-info-row {
    margin: 0.7rem 0;
    display: flex;
    justify-content: space-between;
}

#order-info-card .divider {
    margin: 3rem 0 1.5rem 0;
}

#checkout-btn {
    margin-top: 2rem;
}


/*
====================================
    Responsive
====================================
*/

/* === Mobile Devices === */
@media(max-width: 480px) {
    #flex-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
 
    #cart-products-section {
         flex: 1;
     }
 
     #order-info-section {
         flex: 1;
     }
 
     #order-info-section {
         width: 100%;
     }
 
     #order-info-card {
         margin: 0;
         width: 100%;
     }
 
     .cart-product-quantity-action::after {
         font-size: 1.4rem;
     }
 
     .cart-product-remove-btn {
         width: 40px;
         height: 40px;
         border-radius: 10px;
     }
 
     .cart-product-remove-btn::after {
         font-size: 2.4rem;
     }
}



/* === iPads and tablets === */
@media(min-width: 481px) and (max-width: 768px) {
   #flex-container {
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
   }

   #cart-products-section {
        flex: 1;
    }

    #order-info-section {
        flex: 1;
    }

    #order-info-section {
        width: 100%;
    }

    #order-info-card {
        margin: 0;
        width: 100%;
    }

    .cart-product-quantity-action::after {
        font-size: 1.4rem;
    }

    
}

/* === Small screens, laptops === */
@media(min-width: 769px) and (max-width: 1024px) {

}

/* === Desktops, large screens === */
@media(min-width: 1025px) and (max-width: 1200px) {
    
}



/* === Extra large screens, TV === */
@media(min-width: 1201px) {
    
}