main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    max-width: 500px;
    min-height: var(--free-space-size);
}

img {
    max-width: 150px;
    max-height: 150px;
}

h1 {
    margin: 2rem 0;
}

main button {
    margin-top: 3rem;
    max-width: 330px !important;
}

/*
====================================
    Responsive
====================================
*/

/* === Mobile Devices === */
@media(max-width: 480px) {
    img {
        max-width: 100px;
        max-height: 100px;
    }
}



/* === iPads and tablets === */
@media(min-width: 481px) and (max-width: 768px) {
    img {
        max-width: 100px;
        max-height: 100px;
    }
}

/* === Small screens, laptops === */
@media(min-width: 769px) and (max-width: 1024px) {
    
}

/* === Desktops, large screens === */
@media(min-width: 1025px) and (max-width: 1200px) {
    
}



/* === Extra large screens, TV === */
@media(min-width: 1201px) {
    
}