main {
    min-height: var(--free-space-size);
}

main h1 {
    margin-bottom: 2rem;
}

/* === order info === */
.order {
    padding: 2.5rem;
    margin-bottom: 2rem;
}

.order-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.order-info-row {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.order-info-row h3:first-child {
    margin-right: 1rem;
}

.align-left {
    display: flex;
    justify-content: start;
}

.align-left .order-info-row:first-child {
    margin-right: 3rem;
}


/*
====================================
    Responsive
====================================
*/

/* === Mobile Devices === */
@media(max-width: 480px) {
    .order-info {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .align-left {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    .align-left .order-info-row:first-child {
        margin: 1rem 0;
    }

    .order {
        padding: 1rem;
    }
}



/* === iPads and tablets === */
@media(min-width: 481px) and (max-width: 768px) {
    .order-info {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .align-left {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    .align-left .order-info-row:first-child {
        margin: 1rem 0;
    }
}

/* === Small screens, laptops === */
@media(min-width: 769px) and (max-width: 1024px) {
    .order-info {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .align-left {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    .align-left .order-info-row:first-child {
        margin: 1rem 0;
    }
}

/* === Desktops, large screens === */
@media(min-width: 1025px) and (max-width: 1200px) {
    
}



/* === Extra large screens, TV === */
@media(min-width: 1201px) {
    
}