/*
====================================
    Product Overview section
====================================
*/

#product-overview-section {
    display: flex;
    justify-content: start;
}

#product-image-container {
    flex: 4;
    margin-right: 2rem;
    max-width: 40%;
}

#product-image {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

#text-info {
    flex: 6;
}


#text-info #product-description {
    margin: 3rem 0;
    color: var(--subtitle-color);
}

#text-info #add-to-cart-btn {
    margin-top: 5rem;
}

/*
====================================
    Product Specs Section
====================================
*/

#product-specs-section {
    margin-top: 4rem;
}

#product-specs-section #product-specs-table {
    width: 100%;
    --border: #BCBCBC solid 1px;
    border-collapse: collapse;
    background-color: #F9F9F9;
    border-top: var(--border);
    border-left: var(--border);
    border-right: var(--border);
}

#product-specs-section #product-specs-table td {
    width: 60%;
    padding: 1rem;
    border-bottom: var(--border);
}

#product-specs-section #product-specs-table td:first-child {
    width: 40%;
}


/*
====================================
    Responsive
====================================
*/

/* === Mobile Devices === */
@media(max-width: 480px) {
    #text-info #product-description {
        margin: 2rem 0;
    }

    #text-info #add-to-cart-btn {
        margin-top: 2rem;
    }

    #product-overview-section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    #product-image-container {
        flex: 1;
        max-width: 999999px;
        margin: 0;
        margin-bottom: 2rem;
    }

    #product-image {
        max-height: 200px;
    }
    
    #text-info {
        flex: 1;
    }
}



/* === iPads and tablets === */
@media(min-width: 481px) and (max-width: 768px) {
    #text-info #product-description {
        margin: 2rem 0;
    }

    #text-info #add-to-cart-btn {
        margin-top: 3rem;
    }

    #product-overview-section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    #product-image-container {
        flex: 1;
        max-width: 999999px;
        margin: 0;
        margin-bottom: 2rem;
    }

    #product-image {
        max-height: 300px;
    }
    
    #text-info {
        flex: 1;
    }
}

/* === Small screens, laptops === */
@media(min-width: 769px) and (max-width: 1024px) {
    #text-info #product-description {
        margin: 2rem 0;
    }

    #text-info #add-to-cart-btn {
        margin-top: 3rem;
    }
}

/* === Desktops, large screens === */
@media(min-width: 1025px) and (max-width: 1200px) {
    
}



/* === Extra large screens, TV === */
@media(min-width: 1201px) {
    
}